@using Rent_a_car.ExtentionMethods;
@using Rent_a_car.Entities;
@using Rent_a_car.ActionFilters;
@{
    ViewData["Title"] = "Cars page";
    Users loggedUser = this.ViewContext.HttpContext.Session.GetObject<Users>("loggedUser");
    List<Cars> allCars = ViewContext.HttpContext.Session.GetObject<List<Cars>>("allCars");
}
<div>
    <ul class="index-heading">
        <li class="index-title">All cars</li>
        <li class="index-title" style="float:right;"><a asp-action="AddCars" asp-controller="Cars">Add a car</a></li>
    </ul>
    <div class="carsContainer">
        @foreach (var car in allCars)
        {
            <div class="car">
                <div class="car-title">@car.Brand @car.Model</div>
                <div class="car-text">Year: @car.Year</div>
                <div class="car-text">Passengers count: @car.PassengersCount</div>
                <div class="car-text">Price per day: @car.PricePerDay</div>
                <div class="car-text">@car.Description</div>
                @if (loggedUser.IsAdmin == 1)
                {
                    <a asp-action="EditCars" asp-route-id="@car.Id">Edit</a>
                    <a asp-action="DeleteCars" asp-route-id="@car.Id">Delete</a>
                }
            </div>
        }
        @if (loggedUser.IsAdmin == 1)
        {
            <div class="car">
                
            </div>
        }
    </div>
</div>
