@using Rent_a_car.Entities
@using Rent_a_car.ExtentionMethods
@using Rent_a_car.ActionFilters;
@{
    ViewData["Title"] = "Reservations page";
    Users loggedUser = this.ViewContext.HttpContext.Session.GetObject<Users>("loggedUser");
    List<Reservations> allReservationsHistory = ((List<Reservations>)ViewData["reservationHistory"]).OrderByDescending (c => c.DateOfReservation).ToList();
}
<div>
    <div class="carsContainer">
            <div class="car-title">All reservations: </div>
        @foreach (var reservation in allReservationsHistory)
        {
    <div class="car" style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 2rem;">
        <div class="reservation-header">Reservation #@reservation.Id</div>
        <div class="reservation-car">Car: @reservation.Car.Brand @reservation.Car.Model @(((GearBoxes)reservation.Car.GearBox).ToString()) </div>
        <div class="reservation-period">Period: @reservation.DateOfReservation.ToShortDateString() - @reservation.EndDate.ToShortDateString()</div>
        <div class="car-text">@string.Format($"{((Statuses)reservation.Status).ToString()}")</div>
        @if (loggedUser.IsAdmin == 1)
        {
            if (reservation.Status == (int)Statuses.Upcoming)
            {
                <div style="display:flex;">
                    <form asp-action="ApproveReservation" asp-route-id="@reservation.Id">
                        <input type="submit" value="Approve" class="btn btn-dark" />
                    </form>
                    <form asp-action="RejectReservation" asp-route-id="@reservation.Id">
                        <input type="submit" value="Reject" class="btn btn-danger" />
                    </form>
                </div>
                
            }
            else if (reservation.Status != (int)Statuses.Missed)
            {
                <form asp-action="DisapproveReservation" asp-route-id="@reservation.Id">
                    <input type="submit" value="Disapprove" class="btn btn-outline-dark" />
                </form>
            }

        }

    </div>
        }
    </div>
</div>